/*Universal for all the elements*/
*
{
    margin:0px;
    padding:0px;

}




/*Main heading "DEMO OF DROPDOWN*/
.mainhead
{
    background-color: red;
    text-align: right;
   
}

h1{
    margin-right:40px;
    padding:20px;
}



/*Navigation bar*/

.navigation
{
    background-color: grey;;
}

.nav-ul
{
    list-style: none;
    font-size: 3vh;
}

.nav-ul li{
    display: inline-block;
    padding:12px;
}

.nav-ul li a{
    text-decoration: none;
    color: white;
    cursor:pointer

}
.nav-ul li:hover
{
background-color: black;
    
}


/*Drop down properties for LINK2 */

.nav-ul .dropdown1
{
    display: none;
}

.nav-ul li:hover .dropdown1
{
    display:block;
    position:absolute;
    top:130px;
    max-width: 140px;
    left:95px;
    background-color: rgb(202, 196, 196);
    
}

.nav-ul li:hover .dropdown1 a
{
  
   color:blue;
   
    
    
}
.dropdown1 li:hover{
    background-color: rgb(124, 121, 116);

}




/*Drop down properties for LINK3 */


.nav-ul .dropdown2
{
    display: none;
}

.nav-ul li:hover .dropdown2
{
    display:block;
    position:absolute;
    top:130px;
    max-width: 140px;
    left:192px;
    background-color: rgb(202, 196, 196);
    
}

.nav-ul li:hover .dropdown2 a
{
  
   color:blue;
   
    
    
}
.dropdown2 li:hover{
    background-color: rgb(124, 121, 116);

}